<ion-grid class="overview">

    <ion-row class="status">
        <ion-col wrap class="number volts" text-center padding>
            {{channelData.curr_inp_volts|number:'1.3-3'}}<br/><div class="label">volts</div>
        </ion-col>
        <ion-col class="number amps" text-center padding>
            0<br/><div class="label">amps</div> <!--|number:'1.2-2'-->
        </ion-col>
        <ion-col class="number mah" text-center padding>
            0<br/><div class="label">mAh</div>
        </ion-col>
    </ion-row>
</ion-grid>
