<ion-header>

    <ion-navbar>
        <ion-title>Presets</ion-title>
        <ion-buttons end>
            <button ion-button item-right icon-only (click)="addPreset()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="presets">
    <ion-refresher (ionRefresh)="refreshPresets($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-spinner *ngIf="firstLoad"></ion-spinner>

    <ion-list>
        <ion-item *ngFor="let preset of presets" (tap)="editPreset(preset)">
            <div class="item-left">{{preset.name}}</div>
            <!--<div class="item-left">{{preset.name}}</div>-->
            <div item-right>
                <div class="mini-badge {{chemistryClass(preset)}}" *ngFor="let tag of tagsForPreset(preset)">{{tag}}
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

