aniso8601==1.2.1
click==6.7
configparser==3.5.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
python-dateutil==2.6.1
pytz==2017.2
pyzmq==16.0.2
schematics==1.1.1
six==1.10.0
Werkzeug==0.12.2

