aniso8601==1.2.1
argh==0.26.2
click==6.7
configparser==3.5.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
funcsigs==1.0.2
gunicorn==19.7.1
hidapi==0.7.99.post21
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
modbus-tk==0.5.4
pathtools==0.1.2
pbr==3.1.1
pyserial==3.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
RPi.GPIO==0.6.3
schematics==1.1.1
six==1.10.0
watchdog==0.8.3
Werkzeug==0.12.2