:host {

  .current {
    text-align: center;
  }

  .network {
    .heading {
    }

  }

  ion-list-header.note {
    p {
      font-size: 0.8em;
    }
    .below {
    }

    .above {
      padding-top: 8px;
      padding-bottom: 15px;
    }
  }

  .sections {
    color: black;
    .wifi {
      background-color: rgba(purple, 0.1);
    }

    .network {
      background-color: rgba(cyan, 0.1);
    }

    .server {
      background-color: rgba(yellow, 0.1);
    }
  }
}
