.idea/
*.pyc

src/server/dist/
src/server/MANIFEST
main
live.config.json
enumerate_interfaces
src/server/electric/icharger/cplusplus/DemoJunsiModBusHID/DemoJunsiModBusHID/Debug/
*.ipch
build.json
main.js.map
wireless/temp
src/app/.sourcemaps
