<span>
<ion-item>
    <ion-label>{{label}} | {{displayableValue}}{{unitsOfMeasure}}</ion-label>
    <ion-range [(ngModel)]="displayableValue"
               pin={{pin}}
               disabled="{{disabled}}"
               min="{{min_val}}"
               max="{{max_val}}"
               (ionChange)="emitChangedCelsiusValue($event)">
        <ion-label range-left>{{min_val}}{{unitsOfMeasure}}</ion-label>
        <ion-label range-right>{{max_val}}{{unitsOfMeasure}}</ion-label>
    </ion-range>
</ion-item>
</span>
