// Make the toast show up red
:host {
  position: absolute;
  bottom: 0;
  left: 0;

  background: var(--ion-color-danger);
  color: white;

  ion-button {
    --ion-color-base: var(--ion-color-danger-tint);
    color: white;
  }
}

