// Make the toast show up red
:host {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;

  ion-grid {
    background: var(--ion-color-danger);
    color: white;

    ion-button {
      --ion-color-base: var(--ion-color-danger-tint);
      color: white;
    }
  }
}

