[Unit]
Description=iCharger RESTful API Service
After=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/run_electric.sh
ExecStop=/home/pi/stop_electric.sh
User=pi
Restart=on-failure

[Install]
WantedBy=network-online.target
