[Unit]
Description=Electric Pi Status Service
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
ExecStart=electric-status
User=pi
Restart=on-failure
RestartSec=8

[Install]
WantedBy=multi-user.target
