<div>
    <ion-list class="network">
        <ion-list-header class="note" color="light">
            Home WiFi
            <p class="below">These settings are used when you're at home.<br/>
                They are <b>not</b> used when you're at the field.</p>
        </ion-list-header>
        <ion-item>
            <ion-label stacked>IP Address of Pi (on home wifi)</ion-label>
            <ion-input type="text" [ngModel]="config.ipAddress"
                       (ngModelChange)="change('ipAddress', $event)"></ion-input>
            <button item-end outline icon-left ion-button (tap)="autoDetect()" color="secondary" *ngIf="showAutoButton"
                    [class.button-disabled]="config.network.discoveredServers?.length == 0">
                <ion-icon name="radio-outline"></ion-icon>
                Auto Detect
            </button>
        </ion-item>
        <ion-item>
            <ion-label stacked>Port of Pi (on home wifi)</ion-label>
            <ion-input type="text" [ngModel]="config.port"
                       (ngModelChange)="change('port', num($event))">

            </ion-input>
        </ion-item>
        <ion-item detail-push (click)="networkWizard.emit()">
            Network Settings Wizard
        </ion-item>

        <div class="sections">
            <ion-list-header class="current" color="secondary" no-lines *ngIf="current_ip_address != null">
                Current IP Address: {{current_ip_address}}
            </ion-list-header>
            <div *ngFor="let heading of sectionNames()">
                <ion-list-header color="light">
                    {{sectionName(heading)}}
                </ion-list-header>
                <ion-grid class="sections">
                    <ion-row *ngFor="let key of sectionState(heading)|keys">
                        <ion-col col-4 item-start>{{wifiStateKeyFor(heading, key)}}</ion-col>
                        <ion-col col-auto item-end>{{wifiStateFor(heading, key)}}</ion-col>
                    </ion-row>
                </ion-grid>
                <br/>
            </div>
        </div>
    </ion-list>

</div>


