network-config {

  .current {
    text-align: center;
  }

  .network {
    .wifi {
      p {
        font-size: 0.7em;
        //padding: 20px !important;
      }
    }

    ion-list-header p:first-child {
      padding-top: 15px;
    }
  }

  //.wifi {
  //  color: red;
  //  .connecting {
  //    color: orange;
  //  }
  //  .connected {
  //    color: green;
  //  }
  //}
  //
}
