.chemistry-LiPo {
  --background: var(--chemisty-color-lipo);
}

.chemistry-LiFe {
  --background: var(--chemisty-color-life);
}

.chemistry-LiLo {
  --background: var(--chemisty-color-lilo);
}

.chemistry-NiMH {
  --background: var(--chemisty-color-nimh);
}

.chemistry-Nicd {
  --background: var(--chemisty-color-nicd);
}

.chemistry-NiZn {
  --background: var(--chemisty-color-nicd);
}

.chemistry-Pb {
  --background: var(--chemisty-color-pb);
}
