<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Configuration</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <config
            [config]="config$|async"
            [charger]="charger$|async"
            [ui]="ui$|async"
            (updateConfiguration)="actions.updateConfiguration($event)"
            (resetToDefaults)="actions.resetToDefaults()"
            (testFunc)="testFunc()"
    >
    </config>

</ion-content>

<ion-footer>
    <ion-list *ngIf="!isProduction">
        <ion-label *ngFor="let env of environmentStrings()" text-center>{{ env }}</ion-label>
    </ion-list>

    <ion-list>
        <ion-label text-center>Platform: {{ platformsString() }}</ion-label>
    </ion-list>
</ion-footer>
