<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Configuration</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <config
            [config]="config$|async"
            [charger]="charger$|async"
            [ui]="ui$|async"
            [showAutoButton]="canUseZeroconf() && haveZeroConfAddresses()"
            (updateConfiguration)="actions.updateConfiguration($event)"
            (resetToDefaults)="actions.resetToDefaults()"
            (testFunc)="testFunc()"
    >
    </config>

</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="!isProduction">
        <ion-list>
            <ion-label *ngFor="let env of environmentStrings()" text-center>{{ env }}</ion-label>
        </ion-list>
        <ion-list text-center>
            <ion-label text-center *ngIf="isProduction">Production Build</ion-label>
            <ion-label>Platform: {{ platformsString() }}</ion-label>
        </ion-list>
    </ion-toolbar>
</ion-footer>
