<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Configuration</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-list-header>App Settings</ion-list-header>
        <ion-item>
            <ion-label>Max cells to show</ion-label>
            <ion-select [(ngModel)]="config.configDict.cellLimit">
                <ion-option *ngFor="let v of cellChoices()" value="{{v.value}}">{{v.text}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Prevent Dashboard Scrolling</ion-label>
            <ion-toggle [(ngModel)]="config.configDict.preventChargerVerticalScrolling"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>Charger
            <ion-badge color="dark" item-right *ngIf="!chargerService.isConnectedToCharger()">Enabled when connected to
                the charger
            </ion-badge>
        </ion-list-header>
        <ion-item>
            <ion-label>Temperature shown in celsius</ion-label>
            <ion-toggle (ngModelChange)="toggleChargerTempUnits()" [disabled]="!chargerService.isConnectedToCharger()"
                        [(ngModel)]="config.configDict.unitsCelsius"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>Connection</ion-list-header>
        <ion-item>
            <ion-label stacked>IP Address of Pi</ion-label>
            <ion-input type="text" [(ngModel)]="config.configDict.ipAddress"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Port of Pi</ion-label>
            <ion-input type="text" [(ngModel)]="config.configDict.port"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>Debug</ion-list-header>
        <ion-item>
            <ion-label>Mock Charger</ion-label>
            <ion-toggle [(ngModel)]="config.configDict.mockCharger"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="mockValueChanged()" text-center>
            <ion-badge class="blinky" color="dark">You must restart the app for this to take effect
            </ion-badge>
        </ion-item>

    </ion-list>

    <button full color="danger" ion-button (click)="resetToDefaults()">Reset to Defaults</button>

</ion-content>

<ion-footer>
    <ion-list>
        <ion-label *ngIf="config.canUseDeploy()" text-center>Version: {{ config.versionNumberString() }}</ion-label>
        <ion-label text-center>Platform: {{ config.platformsString() }}</ion-label>
    </ion-list>
</ion-footer>
