// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../bourbon/bourbon";

$breakpoints: (
        'phone': 320px,
        'widephone': 374px,
        'tablet': 768px,
        'desktop': 1024px
) !default;

@import "../../node_modules/include-media/dist/include-media";

$chemistry: (
        LiPo:map_get($colors, 'primary'),
        LiFe:map_get($colors, 'secondary'),
        LiLo:orange,
        NiCd:#0aa,
        NiMH:#f60,
        NiZH:#a00,
        Pb:#555,
        'default':#bbb,
);

@import "../theme/dashboard";
@import "../theme/preset";