<ion-menu [content]="content" type="reveal">
    <ion-header>
        <ion-toolbar>
            <ion-title text-center>Settings</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <div *ngFor="let p of pages">
                <button *ngIf="p.visible();else greyed_out_button" menuClose ion-item (click)="openPage(p)">
                    {{p.title}}
                </button>
                <ng-template #greyed_out_button>
                    <button ion-item disabled>{{p.title}}</button>
                </ng-template>
            </div>
        </ion-list>
    </ion-content>

    <ion-footer>
        <ion-toolbar class="env">
            <ion-grid>
                <ion-row>
                    <ion-col col-4 align-self-start>Platform</ion-col>
                    <ion-col col-8 align-self-end>{{ platformsString() }}</ion-col>
                </ion-row>
                <div *ngIf="!isProduction">
                    <ion-row *ngFor="let key of environmentKeys()">
                        <ion-col col-4 align-self-end>{{key}}</ion-col>
                        <ion-col col-8 align-self-start>{{environmentValue(key)}}</ion-col>
                    </ion-row>
                </div>
            </ion-grid>
        </ion-toolbar>
    </ion-footer>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>

