<ion-menu [content]="content" type="reveal">
    <ion-header>
        <ion-toolbar>
            <ion-title text-center>Settings</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <div *ngFor="let p of pages">
                <button *ngIf="p.visible();else greyed_out_button" menuClose ion-item (click)="openPage(p)">
                    {{p.title}}
                </button>
                <ng-template #greyed_out_button>
                    <button ion-item disabled>{{p.title}}</button>
                </ng-template>
            </div>
        </ion-list>
    </ion-content>

    <ion-footer>
        <ion-toolbar *ngIf="!isProduction">
            <ion-list>
                <ion-label *ngFor="let env of environmentStrings()" text-center>{{ env }}</ion-label>
            </ion-list>
            <ion-list text-center>
                <ion-label text-center *ngIf="isProduction">Production Build</ion-label>
                <ion-label>Platform: {{ platformsString() }}</ion-label>
            </ion-list>
        </ion-toolbar>
    </ion-footer>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>

