// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// This is the CSS for the charger, as a whole.
.charger {

  // This controls what you see at the top of the dashboard
  // The main amps, volts area...
  .overview {
    .status {
      .number {
        font-size: 1.4em;
        .label {
          font-size: 0.7em;
        }
      }
    }
  }

  //.volts {
  //  background: lightsalmon;
  //}
  //.amps {
  //  background: lightblue;
  //}
  //.mah {
  //  background: lightgreen;
  //}

  // Per channel
  channel {
    .number {
      margin: 2px;
      border-radius: 3px;
      border-color: green;
      border-style: solid;
      border-width: 1px;

    }
    .label {
      font-size: 0.8em;
    }
    .status {
    }
    .unused {
      opacity: 0.3;
    }
  }
}

.chargername {
  .tag {
    display: inline-block;
    background: white;
    border-radius: 2px;
    color: map-get($colors, 'primary');
    margin-left: 5px;
    padding: 0 4px 0 4px;
    transform: skewX(-5deg);
  }
}

// Why I2 has padding on grids by default, I don't know ...
ion-grid {
  padding: 0;
}


.mini-badge {
  font-size: 0.7em;
  background: green;
  margin-right: auto;
  margin-left: auto;
}
