$balance-width: 4px;
$balance-right-margin: 2px;
$balance-height: 14px;
$balance-baseline: 1px;

$balance-off-color: lightgrey;
$balance-offset: $balance-width + 1;

// Small phone devices
// Grr. Why doesn't this work? Currently it overrides everything!!!
//@include media("<=phone") {
//  $balance-width: 2px;
//  $balance-right-margin: 0px;
//  $balance-offset: $balance-width;
//}

.balancecontainer {
  z-index: 1;
  margin-right: $balance-right-margin;
  position: relative;
  display: block;

  .balance {
    border-radius: 5px;
    position: absolute;
    width: $balance-width;
    top: -($balance-height + $balance-baseline);
    margin-top: 22px; // no idea why we need this
    margin-right: 5px;

    @include transform-origin(right top);
    @include transform(scale(-1) translateY(-$balance-height));
  }
  .b1 {
    right: ($balance-width / 2.0) + $balance-offset * 4;
    height: ($balance-height * 0.2);
    background: mix(red, yellow, 8%);
  }
  .b2 {
    right: ($balance-width / 2.0) + $balance-offset * 3;
    height: ($balance-height * 0.4);
    background: mix(red, yellow, 25%);
  }
  .b3 {
    right: ($balance-width / 2.0) + $balance-offset * 2;
    height: ($balance-height * 0.6);
    background: mix(red, yellow, 50%);
  }
  .b4 {
    right: ($balance-width / 2.0) + $balance-offset;
    height: ($balance-height * 0.8);
    background: mix(red, yellow, 75%);
  }
  .b5 {
    right: ($balance-width / 2.0);
    height: $balance-height;
    background: mix(red, yellow, 100%);
  }
  .off {
    background: $balance-off-color !important;
  }

}
