config {
  .blinky {
    animation-duration: 1400ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .wifi {
    color: red;
    .connecting {
      color: orange;
    }
    .connected {
      color: green;
    }
  }

  @keyframes blink {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.5;
    }
  }

}
