<ion-list>
    <ion-list-header color="light">App Settings</ion-list-header>
    <ion-item>
        <ion-label>Max cells to show</ion-label>
        <ion-select [ngModel]="config.cellLimit" (ngModelChange)="change('cellLimit', num($event))">
            <ion-option *ngFor="let v of cellChoices()" value="{{v.value}}">{{v.text}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Notification when done</ion-label>
        <ion-toggle
                [ngModel]="config.notificationWhenDone"
                (ngModelChange)="change('notificationWhenDone', $event)">
        </ion-toggle>
    </ion-item>
    <ion-item *ngIf="config.vibrateWhenDone" no-lines>
        <ion-label>Vibrate when done</ion-label>
        <ion-toggle
                [ngModel]="config.vibrateWhenDone"
                (ngModelChange)="change('vibrateWhenDone', $event)">
        </ion-toggle>
    </ion-item>
    <ion-item *ngIf="!config.vibrateWhenDone">
        <ion-label>Vibrate when done</ion-label>
        <ion-toggle
                [ngModel]="config.vibrateWhenDone"
                (ngModelChange)="change('vibrateWhenDone', $event)">
        </ion-toggle>
    </ion-item>
    <ion-item *ngIf="config.vibrateWhenDone" text-center>
        <ion-badge color="light">Your device must support vibration!</ion-badge>
    </ion-item>
    <ion-item>
        <ion-label>Prevent Dashboard Scrolling</ion-label>
        <ion-toggle
                [ngModel]="config.preventChargerVerticalScrolling"
                (ngModelChange)="change('preventChargerVerticalScrolling', $event)">
        </ion-toggle>
    </ion-item>
</ion-list>
<ion-list>
    <ion-list-header color="light">
        <ion-label>
            Wifi Network
        </ion-label>
    </ion-list-header>
    <ion-item>
        <ion-label stacked>SSID (of your home network)</ion-label>
        <ion-input type="text" [ngModel]="config.homeLanSSID"
                   (ngModelChange)="change('homeLanSSID', $event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Password (of above Wifi router)</ion-label>
        <ion-input type="text" [ngModel]="config.homeLanPassword"
                   (ngModelChange)="change('homeLanPassword', $event)">

        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label class="wifi">
            <p [class.connecting]="config.homeLanConnecting"
               [class.connected]="config.homeLanConnected"
            >
                <ion-icon item-end name="wifi"
                          [class.connecting]="config.homeLanConnecting"
                          [class.connected]="config.homeLanConnected"
                          *ngIf="i == 0"
                ></ion-icon>

                {{wifiConnectionStatusString()}}
            </p>
        </ion-label>
        <button item-end [disabled]="!wifiSettingsValid" ion-button (tap)="sendWifiSettings.emit()">Connect</button>
    </ion-item>
</ion-list>

<ion-list>
    <ion-list-header color="light">Connection to the Pi3</ion-list-header>
    <ion-item>
        <ion-label stacked>IP Address of Pi (on home network)</ion-label>
        <ion-input type="text" [ngModel]="config.ipAddress"
                   (ngModelChange)="change('ipAddress', $event)"></ion-input>
        <button item-end outline icon-left ion-button (tap)="autoDetect()" color="secondary" *ngIf="showAutoButton"
                [class.button-disabled]="config.discoveredServers.length == 0">
            <ion-icon name="radio-outline"></ion-icon>
            Auto Detect
        </button>
    </ion-item>
    <ion-item>
        <ion-label stacked>Port of Pi (on home network)</ion-label>
        <ion-input type="text" [ngModel]="config.port"
                   (ngModelChange)="change('port', num($event))">

        </ion-input>
    </ion-item>
</ion-list>

<ion-list *ngIf="!isProduction">
    <ion-list-header color="light">Debug</ion-list-header>
    <ion-item>
        <ion-label>Mock Charger</ion-label>
        <ion-toggle [ngModel]="config.mockCharger" (ngModelChange)="change('mockCharger', $event)"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="mockValueChanged" text-center>
        <ion-badge class="blinky" color="dark">You must restart the app for this to take effect</ion-badge>
    </ion-item>

</ion-list>

<button full color="danger" ion-button (click)="resetToDefaults.emit()">Reset to Defaults</button>
<!--<button full color="secondary" ion-button (click)="testFunc.emit()">Test</button>-->

