<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>
            <div class="chargername">
                {{chargerService.getChargerName()}}
                <span class="tag">{{chargerService.getChargerTag()}}</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-nav #content [root]="rootPage"></ion-nav>

<ion-content class="charger" [ngClass]="{'no-scroll': config.preventChargerVerticalScrolling()}">
    <div *ngIf="anyNetworkOrConnectivityProblems()">
        <ion-card>
            <ion-card-header>
                Connection Status
            </ion-card-header>

            <ion-list class="errors">
                <ion-item *ngIf="!isConnectedToServer()">
                    <ion-icon name="close-circle" color="danger"></ion-icon>
                    Can't see the Pi 'server'.
                </ion-item>

                <ion-item *ngIf="isConnectedToServer()">
                    <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
                    Server/Pi connection is good!
                </ion-item>

                <ion-item *ngIf="!isConnectedToCharger()">
                    <ion-icon name="close-circle" color="danger"></ion-icon>
                    Can't see the charger
                </ion-item>

                <ion-item *ngIf="isConnectedToCharger()">
                    <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
                    Charger OK!
                </ion-item>

                <ion-list-header>Please Check</ion-list-header>
                <h3 *ngIf="!isNetworkAvailable()">
                    <ion-icon name="bulb-outline"></ion-icon>
                    Is Wifi on? There doesn't seem to be a network.
                </h3>
                <h3 *ngIf="!isConnectedToServer()">
                    <ion-icon name="bulb-outline"></ion-icon>
                    Check that you have the correct host URL in your Configuration.
                </h3>
                <h3 *ngIf="!isConnectedToServer()">
                    <ion-icon name="bulb-outline"></ion-icon>
                    Do you have network connectivity to the Pi?
                </h3>
                <h3 *ngIf="!isConnectedToCharger()">
                    <ion-icon name="bulb-outline"></ion-icon>
                    Is the charger on?
                </h3>
                <h3 *ngIf="!isConnectedToCharger()">
                    <ion-icon name="bulb-outline"></ion-icon>
                    Is the charger USB plugged into the Pi?
                </h3>
            </ion-list>
        </ion-card>

        <div *ngIf="exception$" class="tryme">
            <ion-list>
                <ion-list-header>The Server Said:</ion-list-header>
                <h4 padding color="danger">{{exception$|async}}</h4>
            </ion-list>
        </div>
    </div>


    <div *ngIf="!anyNetworkOrConnectivityProblems()">
        <!-- need the charger status (sensible), and channel (not so sensible) so we can get the 'input' volts -->
        <charger-status
                [status]="chargerStatusObserver"
                [channels]="channelSubscriptions()">
        </charger-status>

        <channel name="Channel 1" [channelObserver]="channelSubscriptions()[0]" [index]="0"></channel>
        <channel name="Channel 2" [channelObserver]="channelSubscriptions()[1]" [index]="1"></channel>
    </div>

    <connection-state></connection-state>
</ion-content>

