<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isConnectedToServer() || !isConnectedToCharger()">
    <ion-card>
      <ion-card-header>
        <span *ngIf></span>
        Connection Status
      </ion-card-header>

      <ion-list>
        <ion-item *ngIf="!isConnectedToServer()">
          <ion-icon name="close-circle" color="danger"></ion-icon>
          It seems the app cannot connect to the server.
        </ion-item>

        <ion-item *ngIf="isConnectedToServer()">
          <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
          Server connection OK
        </ion-item>

        <ion-item *ngIf="!isConnectedToCharger()">
          <ion-icon name="close-circle" color="danger"></ion-icon>
          Can't see status from the charger (charger not connected)
        </ion-item>

        <ion-item *ngIf="isConnectedToCharger()">
          <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
          Charger OK!
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-list-header>
      Well then. It looks like we've some problems.
    </ion-list-header>
    <!--{{channelStatus['exception']}}-->
    <p>TODO: Add some stuff here about what to look for, fix.</p>
  </div>


  <ion-card *ngIf="isConnectedToServer() && isConnectedToCharger()">
    <ion-card-header>
      Charger Status
    </ion-card-header>
    <ion-card-content>
      <!--{{chargerService.chargerStatus|json}}-->
      {{chargerService.channelStatus[1]|json}}
    </ion-card-content>
  </ion-card>

  <!--<button ion-button (click)="showtoast()">Disconnect</button>-->

</ion-content>

