<ion-grid padding-top>
    <ion-row>
        <ion-col class="channelNumber">
            {{channel.channel + 1}}
        </ion-col>
        <ion-col>
            <ion-row>
                <ion-col class="cellcontainer" text-center>{{channel.curr_out_volts|number:'1.3-3'}}</ion-col>
                <ion-col class="cellcontainer" text-center>{{channel.curr_out_amps|number:'1.2-2'}}</ion-col>
                <ion-col class="cellcontainer" text-center>{{channel.curr_out_capacity|number:'1.0-0'}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col no-padding class="label" text-center>V</ion-col>
                <ion-col no-padding class="label" text-center>A</ion-col>
                <ion-col no-padding class="label" text-center>mAh</ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <div class="cells">
        <ion-list>
            <ion-item-sliding #item>
                <ion-item>
                    <ion-row *ngFor="let r of chunkedCells(); let y=index">
                        <ion-col
                                [ngClass]="{'unused' : isCellUnused(cell), 'empty' : isCellPadding(cell)}"
                                class="cell"
                                no-padding
                                *ngFor="let cell of r; let x=index"
                                text-center>
                            <ion-row *ngIf="!isCellPadding(cell)">
                                <ion-col width-20 class="channelnum">{{1 + ((y * cellChunking()) + x)}}</ion-col>
                                <ion-col text-center>{{cell.v|number:'1.3-3'}}v</ion-col>
                                <ion-col width-20 class="balancecontainer">
                                    <div
                                            *ngFor="let b of balanceRange(cell.balance)"
                                            class="balance b{{b}}"
                                            [ngClass]="{'off':!balanceLightIsLit(b, cell.balance)}"
                                    >
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-options>
                    <button ion-button (click)="measureIR(item)">IR</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <ion-row padding-top class="cells summary">
        <ion-col no-padding>
            All cell volts: {{channel.cell_total_voltage|number:'1.3-3'}}V
            <!--mΩ-->
        </ion-col>
        <ion-col no-padding>
            ΔV: {{maxMilliVoltDiff(channel)|number:'1.0-0'}} mV
        </ion-col>
    </ion-row>

</ion-grid>
