<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
    <ion-list>
        <ion-item>
            <ion-label text-center>Discharge Current -
                <ion-badge>20A</ion-badge>
            </ion-label>
        </ion-item>
        <ion-item no-margin>
            <better-range [(value)]="value"
                          min="0.05"
                          [max]="50"
                          multiplier="100"
                          left_label="0.05A"
                          right_label="50A"
            ></better-range>
        </ion-item>
    </ion-list>

</ion-content>
