[Unit]
Description=Electric Pi Status Service
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/opt/status/run_server.sh
User=pirate
Restart=on-failure
RestartSec=8
WorkingDirectory=/opt/status
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=electric-pi-status

[Install]
WantedBy=multi-user.target
