[Unit]
Description=Bootstraps the Docker Containers for the iCharger services on first run
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/opt/bootstrap_docker_images.sh
User=pirate
Restart=on-failure
RestartSec=8
WorkingDirectory=/opt
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=electric-pi

[Install]
WantedBy=multi-user.target
