[Unit]
Description=Bootstraps the Docker Containers for the iCharger services on first run
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
ExecStart=electric-s
User=pirate
Restart=on-failure
RestartSec=8
WorkingDirectory=/opt

[Install]
WantedBy=multi-user.target
