[Unit]
Description=iCharger RESTful API Service
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/run_electric.sh
ExecStop=/home/pi/stop_electric.sh
User=pi
Restart=on-failure
RestartSec=8
WorkingDirectory=/home/pi


[Install]
WantedBy=multi-user.target
