[Unit]
Description=Ensure GPIO is writable
Before=electric-pi.service docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ensure_gpio_writable.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=electric-gpiomem

[Install]
WantedBy=multi-user.target
