<ion-header>

    <ion-navbar>
        <ion-title>Wizardry</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <!--Follow the yellow brick road-->

    <ion-list class="steps">
        <!--<ion-list-header class="current" color="secondary" no-lines>-->
            <!--<ion-label>-->
                <!--IP Address: {{current_ip_address$|async}}-->
            <!--</ion-label>-->
        <!--</ion-list-header>-->

        <!--<ion-item>{{current_ip_address$|async}}</ion-item>-->
        <ion-item [stepState]="stateFor(0)">
            <ion-icon name="flash" item-start></ion-icon>
            Get on the <b>Electric</b> network
        </ion-item>

        <ion-item [stepState]="stateFor(1)">
            <ion-icon name="wifi" item-start></ion-icon>
            Connected to home Wifi
        </ion-item>

        <ion-item [stepState]="stateFor(2)">
            <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
            Verify connectivity
        </ion-item>
    </ion-list>

    <ion-card>
        <ion-card-header>
            {{tip.header}}
        </ion-card-header>
        <ion-card-content>
            <div *ngIf="tip.content != ''">
                {{tip.content}}
            </div>
            <div *ngIf="currentState >= 1">
                <wifi-settings
                        [network]="network$|async"
                        [disabled]="!nextStepIsEnabled()"
                        (updateConfiguration)="actions.updateNetworkFromEmit($event)"
                        (sendWifiSettings)="updateWifi()">
                </wifi-settings>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
