<ion-list>
    <ion-list-header color="light">Temperature & Fans</ion-list-header>
    <ion-item>
        <ion-label>Temperature shown in celsius</ion-label>
        <ion-toggle [disabled]="ui.disconnected"
                    (ngModelChange)="change('isCelsius', $event)"
                    [ngModel]="charger.isCelsius"></ion-toggle>
    </ion-item>


    <temp-range label="Shutdown Temp"
                [disabled]="ui.disconnected"
                (valueChanged)="charger.temp_shutdown = $event.value"
                min=60 max=75
                [value]=" charger.temp_shutdown
    "></temp-range>

    <temp-range label="Power Reduce"
                [disabled]="ui.disconnected"
                min=-20 max=-5
                (valueChanged)="charger.temp_power_reduce = $event.value"
                [value]=" charger.temp_power_reduce
    "></temp-range>

    <temp-range label="Temp for Fans On"
                [disabled]="ui.disconnected"
                min=30 max=50
                (valueChanged)="charger.temp_fans_on = $event.value"
                [value]="charger.temp_fans_on"></temp-range>

    <ion-item>
        <ion-label>Fans Off ({{charger.fans_off_time}} mins)</ion-label>
        <ion-range [(ngModel)]="charger.fans_off_time"
                   pin=true min="0" max="10"

                   [disabled]="ui.disconnected">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>10</ion-label>
        </ion-range>
    </ion-item>
</ion-list>
<ion-list>
    <ion-list-header color="light">LCD Screen</ion-list-header>
    <ion-item>
        <ion-label>Brightness</ion-label>
        <ion-range [(ngModel)]="charger.brightness"
                   pin=true min="0" max="30"
                   [disabled]="ui.disconnected">
        </ion-range>
    </ion-item>
    <ion-item>
        <ion-label>Contrast</ion-label>
        <ion-range [(ngModel)]="charger.contrast"
                   pin=true min="0" max="30"
                   [disabled]="ui.disconnected">
        </ion-range>
    </ion-item>
</ion-list>
