// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



/// Center the spinner horizontally
ion-spinner {
  width: 100%;
}

.warningToast {
  .toast-wrapper {
    background: var(--ion-color-warning-shade) !important;
    color: var(--ion-color-warning-contrast) !important;
  }
}


@import "channel.display.scss";