// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/// Center the spinner horizontally
ion-spinner {
  width: 100%;
}

ion-toast {
  &.warningToast {
    --background: var(--ion-color-warning-shade) !important;
    color: var(--ion-color-warning-contrast) !important;
  }

  &.messaging.success {
    --background: var(--ion-color-success) !important;
    --button-color: white !important;
    color: white !important;
  }

  &.messaging.error {
    --background: var(--ion-color-danger) !important;
    -button-color: white !important;
    color: white !important;
  }
}

.validationError {
  color: var(--ion-color-danger);
}

@import "spinners.scss";
@import "fix-ion-ranges";
@import "channel.display.scss";