<ion-item lines="none">
    <ion-label text-center>{{label}} | {{displayableValue}}{{unitsOfMeasure}}</ion-label>
</ion-item>
<ion-item>
    <ion-range [ngModel]="displayableValue"
               pin={{pin}}
               disabled="{{disabled}}"
               min="{{min_val}}"
               max="{{max_val}}"
               (ngModelChange)="emitChangedCelsiusValue($event)">
        <ion-label class="label" slot="start" padding-end>{{min_val}}{{unitsOfMeasure}}</ion-label>
        <ion-label class="label" slot="end" text-right margin-start margin-vertical>{{max_val}}{{unitsOfMeasure}}</ion-label>
    </ion-range>
</ion-item>

